/* Fields */
.cptdir-field label{ font-weight: bold; }

.cptdir-field.wysiwyg,
.cptdir-field.textarea{ margin: 1em 0; }

.cptdir-field.wysiwyg label,
.cptdir-field.textarea label{ display: block; }

/** galleries */
.cptdir-gallery{
	margin: 2em 0;
}
a.cptdir-gallery-thumb{
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	max-width: 150px;
	height: auto;
	
	border: solid 3px #aaa;
	border-radius: 3px;
	
	transition: 1s ease;
}
a.cptdir-gallery-thumb:hover{
	border-color: #000;
}
a.cptdir-gallery-thumb img{
	margin: 0;
}

/* Search Widget */
#cptdir-search-form{ margin-top: 1em; }
+p.cptdir-search-filter{ float: left; margin-right: 1em; margin-bottom: 1.5em; padding-bottom: 0;}
+.cptdir-search-submit{ width: 100%; max-width: 250px; height: 3em; }

/* Search Results Page */
.cptdir-search-result-item{ margin-top: 2em; }
.cptdir-archive-thumb{ width: 80px; height: auto; }