.DS_Store
assets/cmb2/.git
assets/cmb2/.gitignore
assets/cmb2/.scrutinizer.yml
assets/cmb2/.travis.yml
assets/cmb2/Dockunit.json
assets/cmb2/Gruntfile.js
assets/cmb2/composer.json
assets/cmb2/coverage.clover
assets/cmb2/package.json
assets/cmb2/phpunit.xml.dist
assets/cmb2/tests
assets/extended-cpts/.coveralls.yml
assets/extended-cpts/.git
assets/extended-cpts/.travis.yml
assets/extended-cpts/bin
assets/extended-cpts/composer.json
assets/extended-cpts/phpunit-ms.xml.dist
assets/extended-cpts/phpunit.xml.dist
assets/extended-cpts/tests
assets/extended-taxos/.git
assets/extended-taxos/composer.json