/* General */
.debug{ color: orange; background: beige; }
.bbd-success{ color: green; }
.bbd-fail{ color: #B42D29; }
.bbd-indent{ margin-left: 2em; }
.bbd-highlight{
	display: block;
	background-color: #e4f2fd;
	padding: 1em;
}

h3.bbd-header{ font-size: 1.5em; }
h4.bbd-header{ font-size: 1.3em; }
h5.bbd-header{ font-size: 1.1em; font-weight: bold; }
form > h3{
	margin-top: 2em;
}
.form-table{ 
	display: block;
	border-bottom: solid 1px #777; 
	padding-bottom: 1em; 
}
.form-table.indent th{ padding-left: 3em;  }
.form-table.indent {margin-bottom: 3em;}

.show-hide-fields-area {
    cursor: pointer;
    display: inline-block;
    background: #eee none repeat scroll 0 0;
    border-radius: 5px;
    border: solid 1px #ccc;
    padding: 0.2em 1em;
}

/**
 * Widgets
 * 
 * - General
 * - Search Widget
 */

/* General */
.bbd-widget-form {
	margin-bottom: 2em;
}
.bbd-widget-form h4 {
	margin-top: 2.5em;
	margin-bottom: 0em;
}
.bbd-widget-form h4 + p {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}
.bbd-widget-form label input[type=text],
.bbd-widget-form label input[type=textarea],
.bbd-widget-form label input[type=number],
.bbd-widget-form label input[type=select] {
	margin-top: 0.3em
}

.bbd-widget-form label input[type=number] {
	line-height: 2em;
}

.bbd-widget-form label.post-type-select,
.bbd-widget-form label.taxonomy-select,
.bbd-widget-form label.terms-select {
	display: block;
	margin: 0.5em 0;
	margin: 0.5em 0;
}

.bbd-terms-list.highlight {
	padding: 1em;
}
.bbd-terms-list.highlight h4{ margin-top: 0; }

/* Search Widget */
.bbd-search-widget-field {
    margin: 0.5em 0;
}
.bbd-search-field-filter-select .bbd-search-widget-field {
	padding-left: 1em;
}
.bbd-search-widget-field .field-type-select {
	margin: 1em 0 0.25em;
}
.bbd-search-widget-field .field-type-select label {
	margin-right: 1em;
}

#bbd-search-form .bbd-fields-area {
	display: none;
	margin-top: 2em;
}

.bbd-draggable-fields-container .bbd-search-widget-field {
	cursor: move;
	padding: 12px;
	background: #ccc;
	margin-bottom: 10px;
	width: 320px;
	max-width: 100%;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 1px #aaa;
	border-radius: 2px;
	position: relative;
}

.bbd-draggable-fields-container .bbd-search-widget-field:hover {
	border: solid 1px #888;
}

.bbd-fields-drop {
	display: none;
	width: 100%;
	min-height: 100px;
	padding: 0.5em;
	/*border: solid black 1px;*/
	margin-top: 1em;
	box-sizing: border-box;

	background: #eee;
	border: solid 1px #ddd;
}

.bbd-fields-drop  .placeholder-text {
	color: #aaa;
}

/* Items that lie in the droppable area */


/* "remove" button (x) */
.bbd-search-widget-field div.dashicons {
	position: absolute;
	right: 0.5em;
	cursor: pointer;
}
.bbd-search-widget-field div.dashicons:hover {
	color: rgb(170,0,0);
}

.bbd-droppable-helper {
	width: 320px;
	height: 40px;
	border: dashed 1px #aaa;
	margin-bottom: 10px;
	display: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bbd-droppable-helper.active {
	display: block;
}

.bbd-search-fields-placeholder {
	height: 40px;
	border: dashed 1px #aaa;
	margin-bottom: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 320px;
}
