.required{
	color: #D9534F;
}
h1 a.page-title-action{
	display: none;
}

/* post meta box */

/*
.cptd-post-meta-box .field{
	margin-bottom: 1.2em;
}
.cptd-post-meta-box .field label{
	font-weight: bold;
}
.cptd-post-meta-box .field label input[type=text]{
	font-weight: normal;
	margin-top: 0.3em;
}
*/

/* post name box */
#handle-container.highlight,
#slug-container.highlight{
	padding: 1em;
}

/*
#handle-container p.description{
	margin-top: 1em;
}
*/

#handle-container a,
#slug-container a{
	cursor: pointer;
}
a#change-name,
a#change-slug{ 
	display: inline-block;
	margin-top: 0.2em; 
	font-style: italic;
}

div#cancel-name-change a,
div#cancel-slug-change a{
	font-style: italic;
	text-decoration: none;
}

div#handle-info p,
div#slug-info p{
	padding-top: 1em;
}

/* taxonomy settings meta box */
#tax-assign-pt h3{
	padding-left: 0;
}
#tax-assign-pt.field label{
	font-weight: normal;
	display: block;
	margin-top: 0.2em;
}
#tax-assign-tip{
	margin-top: 0.5em;
}

/**
 * CMB2 
 */

/* descriptions */
span.cmb2-metabox-description p{
	margin: 0;
	padding-top: 0.5em;
}
