/* General */
.debug{ color: orange; background: beige; }
.cptd-success{ color: green; }
.cptd-fail{ color: #B42D29; }
.cptd-indent{ margin-left: 2em; }
.cptd-highlight{
	display: block;
	background-color: #e4f2fd;
	padding: 1em;
}

h3.cptd-header{ font-size: 1.5em; }
h4.cptd-header{ font-size: 1.3em; }
h5.cptd-header{ font-size: 1.1em; font-weight: bold; }
form > h3{
	margin-top: 2em;
}
.form-table{ 
	display: block;
	border-bottom: solid 1px #777; 
	padding-bottom: 1em; 
}
.form-table.indent th{ padding-left: 3em;  }
.form-table.indent {margin-bottom: 3em;}

.show-hide-field-checkboxes {
    cursor: pointer;
    background: #eee none repeat scroll 0 0;
    border-radius: 5px;
    padding: 0.2em 1em;
}

/**
 * Widgets
 * 
 * - General
 * - Search Widget
 * - Random Posts Widget
 */

/* General */
.cptd-widget-form {
	margin-bottom: 2em;
}
.cptd-widget-form h4 {
	margin-top: 2.5em;
	margin-bottom: 0em;
}
.cptd-widget-form h4 + p {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}
.cptd-widget-form label input[type=text],
.cptd-widget-form label input[type=textarea],
.cptd-widget-form label input[type=number],
.cptd-widget-form label input[type=select] {
	margin-top: 0.3em
}

.cptd-widget-form label input[type=number] {
	line-height: 2em;
}

.cptd-widget-form label.post-type-select,
.cptd-widget-form label.taxonomy-select,
.cptd-widget-form label.terms-select {
	display: block;
	margin: 0.5em 0;
	margin: 0.5em 0;
}

.cptd-terms-list.highlight {
	padding: 1em;
}
.cptd-terms-list.highlight h4{ margin-top: 0; }

/* Search Widget */
.cptd-search-widget-field {
    margin: 0.5em 0;
}
.cptd-search-field-filter-select .cptd-search-widget-field {
	padding-left: 1em;
}
.cptd-search-widget-field .field-type-select {
	margin: 1em 0 0.25em;
}
.cptd-search-widget-field .field-type-select label {
	margin-right: 1em;
}

#cptd-search-form .fields-checkboxes {
	display: none;
	margin-top: 2em;
}



/* Random Posts Widget */

